<div class="row" style="margin-top: 5em; margin-bottom: 5em" id="speakers">

    <h1> Speakers </h1>
    <hr>
    <div *ngFor="let speaker of speakers" class="row">
        <a href="{{speaker.url}}" class="col-md-4">
            <div class="card" id="{{ speaker.name }}">
                <img src="{{ speaker.img }}" class="rounded-circle mx-auto" width="160" height="160"
                    alt="{{ speaker.name }}" style="margin: 0.5rem;">
                <div class="card-body" style="background-color: #EAECEE;">
                    <h4 class="card-title mb-0" style="font-size:1.4rem"> {{speaker.name}} </h4>
                    <p class="card-text">{{speaker.position}}, {{speaker.institute}}</p>
                </div>
            </div>
        </a>
        <div style="display: inline-block;" class="col-md-8">
            <br>
            <h4>{{speaker.talk_title}}</h4>
            <p style="margin-top: 1em; font-weight: lighter;">{{speaker.talk_abstract}}</p>
        </div>
    </div>

</div>