<div class="row">

    <section id="cfp">
        <h1> Call for Papers </h1>
        <hr>
        <p>
            We invite submissions at the intersection of LLM research and cognitive science. Submission types
            include:
        </p>
        <ul>
            <li>Previously unpublished experimental results</li>
            <li>Experimental results published/presented anytime in 2024 (excluding ICML2024)</li>
            <li>Survey and position papers</li>
        </ul>
        <p>
            All papers will be reviewed as part of a single track.
        </p>

        <div style="margin-top: 2em">
            <h3> Important Dates </h3>
            <hr>
            <ul>
                <li>Submission Open: 22 April 2024</li>
                <li>Submission Deadline: 22 May 2024 (AoE: Anywhere on Earth)</li>
                <li>Notification of acceptance: 17 June 2024</li>
                <li>Camera-ready due: 3 July 2024</li>
                <li>Workshop date: 27 July 2024</li>
            </ul>
        </div>

        <div style="margin-top: 2em">
            <h3> Submission Guidelines </h3>
            <hr>
            <p>
                All submissions should be 3-4 pages in length, not including limitations, acknowledgements, references, and appendices. Reviewers are not required to review information in the appendix. All submissions should adhere to the double-blind review process. Submissions that violate length or anonymity policies will be desk-rejected. After submission and during the review period, authors are allowed to post their papers on preprint servers if desired.
            </p>
            <p>
                Latex Template: Please use the <a href="https://icml.cc/Conferences/2024/AuthorInstructions">ICML 2024 style files</a> for your submissions.
            </p>
            <p>
                Submissions should be made through <a href="https://openreview.net/group?id=ICML.cc/2024/Workshop/LLMs_and_Cognition">OpenReview</a>.
            </p>
        </div>

        <div style="margin-top: 2em">
            <h3> Virtual Presentation Policy </h3>
            <hr>
            <p>
                At the time of submission, all authors will be asked whether they will be able to present in person. If the authors are unable to travel due to visa issues or other concerns, we will accommodate them by allowing the authors to record a short video about their submission. These videos will be posted on the workshop website.
            </p>
        </div>

        <div style="padding-top: 4em">
    
            <h1> Call for Reviewers </h1>
            <hr>
            <p>
                We are looking for reviewers with expertise in LLMs, cognitive science, and related fields. If you are interested in reviewing for the workshop, please fill out this <a href="https://docs.google.com/forms/d/e/1FAIpQLSdAnBAgCa4uLqTBqjGLR4VFba5BfoVCWX5BwhOmyp_dHq9PYQ/viewform?usp=sf_link">form</a>.
            </p>
        </div>
    </section>
</div>