<div class="row" style="margin-top: 5em; margin-bottom: 5em" id="organizers">

    <h1> Organizers </h1>
    <hr>
    <div *ngFor="let organizer of organizers" class="col-md-4" style="display: inline-block;">
        <a href="{{organizer.url}}">
            <div class="card" id="{{ organizer.name }}">
                <img src="{{ organizer.img }}" class="rounded-circle mx-auto" width="160" height="160"
                    alt="{{ organizer.name }}" style="margin: 0.5rem;">
                <div class="card-body" style="background-color: #EAECEE;">
                    <h4 class="card-title mb-0" style="font-size:1.4rem"> {{organizer.name}} </h4>
                    <p class="card-text">{{organizer.institute}}</p>
                </div>
            </div>
        </a>
    </div>

</div>