<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" style="font-size: 1.4em; color:white">
      <i class="fa-solid fa-language"></i> x <i class="fa-solid fa-brain"></i>&nbsp;|&nbsp;
      Large Language Models and Cognition @ ICML 2024
    </a>
    <div class="nav-items" style="width: 70%">
      <div class="nav-item">
        <span>
          <a class="nav-link" href="#organizers"> <i class="fa-solid fa-person"></i>&nbsp; Organizers</a>
        </span>
      </div>
      <div class="nav-item">
        <span>
          <a class="nav-link" href="#schedule"> <i class="fa-solid fa-calendar"></i>&nbsp; Schedule</a>
        </span>
      </div>
      <div class="nav-item">
        <span>
          <a class="nav-link" href="#speakers"> <i class="fa-solid fa-person-chalkboard"></i>&nbsp; Speakers</a>
        </span>
      </div>
      <div class="nav-item">
        <span>
          <a class="nav-link" href="#papers"> <i class="fa-solid fa-book"></i>&nbsp; Accepted Papers</a>
        </span>
      </div>
      <div class="nav-item">
        <span>
          <a class="nav-link" href="#about"> <i class="fa-solid fa-circle-info"></i>&nbsp; About </a>
        </span>
      </div>
    </div>
  </div>
</nav>


<div class="container" style="margin-top: 6em;">

  <app-about></app-about>  
  <app-cfp></app-cfp>
  <app-speakers></app-speakers>
  <app-schedule></app-schedule>
  <app-papers></app-papers>
  <app-organizers></app-organizers>
  <app-sponsors></app-sponsors>


  <div class="row" id="contact">
    <h1> Contact </h1>
    <hr>
    <p>
    Reach out to <a href="mailto:llm-cognition@googlegroups.com">llm-cognition@googlegroups.com</a> for any questions.
    </p>
    <p>
      Cover image provided by Fabian Lackner via <a href="https://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>.
    </p>
  </div>


  <footer class="footer mt-auto py-3">
    <div class="container">
      <span> ICML Workshop on Large Language Models and Cognition | Last Update: 18 July 2024</span>
      <span style="float: right"><a href="#"> Back to Top <i class="fas fa-arrow-up"></i>
        </a> </span>
    </div>
  </footer>

</div>