/* 
Color Scheme
Firefly: #091B2B
Cashmere: #E7C29C
Eastern Blue: #20A8A5
Elm: #1C8394
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

nav {
    background-color: #1C8394;
}

footer a {
    color: white;
}

footer span {
    color: #D0D3D4;
}

p a {
    color: #1C8394;
}

.footer {
    position: fixed;
    background-color: #2C3E50;
    /* background-color: #1C8394; */
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4em;
}

.nav-item  {
    float:right; 
    color: whitesmoke;
    padding-left: 2em;
}

.nav-item span {
    cursor: pointer;
}

.nav-item span:hover, .nav-item a:hover {
    opacity: 50%;
}

#contact{
    font-family: 'Lato', sans-serif;
    font-size: large;
    margin-bottom: 4em;
}

hr{
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    border-top-style: inset;
    border-top-width: 1px;
}