<div class="row">

    <section id="papers">
        <h1> Accepted Papers </h1>
        <hr>
        <div style="margin-top: 2em">

            <ol>
                <li *ngFor="let paper of papers">
                    <a href="https://openreview.net{{paper.pdf}}" target="_blank">
                        <strong style="color:#1C8394; font-size: large;">{{paper.title}}</strong>
                    </a>
                    <br>
                    <strong>Authors: </strong>
                    <span>{{paper.authors.join(', ')}}</span>
                    <br>
                    <div style="font-size: small;">
                        <strong>Keywords: </strong>
                        <span>{{paper.keywords.join(', ')}}</span> 
                    </div>
                    <details>
                        <summary>Abstract</summary>
                        <p class="abstract">{{paper.abstract}}</p>
                    </details>
                </li>
            </ol>
        </div>
    </section>
</div>  
